$white: white;
$black: black;

// base app colors
$background-color: #0f0f0f;
$text-color-primary: $white;
$border-color-primary: #56555e;

// veutify theme colors:
$primary: #AB47BC;
$secondary: #fbc02d;
$accent: #5d915b;
$error: #ef5350;
$info: #4fc3f7;
$success: #5d915b;
$warning: #ffa726;


$background-color-dark: #212121;
$primary-dark: #48224f;
$secondary-dark: #826316;
$accent-dark: #354d1a;